#first{
    color:darkturquoise;
    background-color: rgb(255, 42, 42);
}
#second{
    color: rgb(0, 206, 209);
    background-color: rgb(27, 231, 8);
}
#third{
    color:rgba(255, 255, 255, 0.5);
    background-color: black ;
    padding: 10px;
}

img{
    opacity: 0.7;
}